body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #000000;
}

.title-text {
  font-family: "Margarine";
  font-size: 40;
  color: #ffffff;
}

.sub-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #898989;
}

.navbar {
  z-index: 100;
  width: 100%;
}
#hero {
  background-color: #3593cc50;
}

.small-img {
  border-radius: 20px;
}

.small-img {
  border-radius: 20px;
}
/* 
.logo {
    padding-top: 10px;
} */

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hero-buttons {
  display: flex;
  justify-content: center;
}

.sign-up-button,
.form-header {
  color: #ee5659;
}

.form-label {
  color: #ffffff;
}

.radio-buttons {
  display: flex;
  justify-content: space-evenly;
}

.apple-logo {
  border-radius: 5px;
  margin-top: 15px;
  width: 148px;
  height: 50px;
}

.download-section {
  height: 100vh;
}

#rider-1,
#rider-2,
#rider-3 {
  background-color: #ee565950;
}

#carrier-1,
#carrier-2,
#carrier-3 {
  background-color: #3593cc50;
}

@media only screen and (max-width: 400px) {
  #hero {
    height: 100vh;
    background-color: #3593cc50;
  }

  .rider-inner,
  .carrier-inner {
    height: 100vh;
  }
}
