body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #000000;
}

.small-img {
  border-radius: 20px;
}

.nav-color {
  background-color: #ee5659;
}

.sign-up-button,
.form-header {
  color: #ee5659;
}

.form-label {
  color: #ffffff;
}

.radio-buttons {
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
  /*  section {
    height: 100vh;
  } */
}
